<div class="navbar">
	<ul class="nav">
		<div class="right-links">
			<li><a class="nav-link" href="https://accounts.google.com/ServiceLogin?service=oz&passive=1209600&continue=https://plus.google.com/?gpsrc%3Dogpy0%26tab%3DwX%26partnerid%3Dogpy0">+You</a></li>
			<li><a class="nav-link" href="https://accounts.google.com/ServiceLogin?service=mail&passive=true&rm=false&continue=https://mail.google.com/mail/?tab%3Dwm&scc=1&ltmpl=default&ltmplcache=2&emr=1">Gmail</a></li>
			<li><a class="nav-link" href="https://www.google.com/imghp?hl=en&tab=wi&ei=rrjuUuWsJKezsATFk4CwDw&ved=0CAQQqi4oAg">Images</a></li>
			<li id="app-link"><a class="nav-link" href="http://www.google.com/intl/en/about/products/">Apps</a></li>
			<li><a class="nav-link" href="https://accounts.google.com/ServiceLogin?hl=en&continue=https://www.google.com/">Sign In</a></li>
		</div>
	</ul>
</div>

<div class="content">
	<div class="title">
		<a>Google</a>
	</div>
	<div class="search-bar">
		<form action="#" method="POST">
			<ul>
				<li id="box">
					<input type="text">
				</li>
				<li id="button">
					<div class="buttons">
						<input type="submit" value="Google Search">
						<span></span>
						<input type="submit" value="I'm Feeling Lucky">
					</div>
				</li>
			</ul>
		</form>
	</div>
</div>

<div class="btm-navbar">
	<ul class="btm-nav">
		<div class="btm-left">
			<li><a class="btm-nav-link" href="https://www.google.com/intl/en/ads/?fg=1">Advertising</a></li>
			<li><a class="btm-nav-link" href="https://www.google.com/services/?fg=1">Business</a></li>
			<li><a class="btm-nav-link" href="https://www.google.com/intl/en/about/">About</a></li>
		</div>
		<div clas="btm-right">
			<li><a class="btm-nav-link" href="https://www.google.com/intl/en/policies/?fg=1">Privacy & Terms</a></li>
			<li><a class="btm-nav-link" href="https://www.google.com/preferences?hl=en">Settings</a></li>
		</div>
	</ul>
</div>